<a href="https://colab.research.google.com/github/Mahwish118/Citi-Bike-NYC/blob/master/Python_for_beginner_(Part_2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# For loop- break and continue

For loop if we want to break the loop permanently we use break 



For loop if er want to skip the part of the forloop then we use continue in for

In [2]:
country = ["Pakistan","USA"]


for a in country:
    print(a)

Pakistan
USA

In [3]:
### For loop with break

In [4]:

for number in range(10):
    if number %3 == 6:#0/3 reminder is 0
        break
    print(number)

0
1
2
3
4
5
6
7
8
9

In [ ]:
#For loop with continue

In [5]:
for number in range(10):
    if number ==7:
        continue
    print(number)

0
1
2
3
4
5
6
8
9

**Nested For loop**

In [6]:
for a in range(5):
    print("Inner loop begins")
    for char in "Canada":
        print(a, char)

Inner loop begins
0 C
0 a
0 n
0 a
0 d
0 a
Inner loop begins
1 C
1 a
1 n
1 a
1 d
1 a
Inner loop begins
2 C
2 a
2 n
2 a
2 d
2 a
Inner loop begins
3 C
3 a
3 n
3 a
3 d
3 a
Inner loop begins
4 C
4 a
4 n
4 a
4 d
4 a

In [1]:
#time table with for loop
time_table = int(input("Enter Time Table"))#here we use int it means it is type casting
for a in range(1,11):
        print(f"{time_table} * {a} = {time_table*a}")

Enter Time Table5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
#now we want to print number of the tables through nested for loop

**Now we want to print number of the tables through nested for loop**

In [14]:
time_table = int(input("Enter TimeTable"))
for time_tables in  range(2,time_table+1):
    for number in range (1,11):
        print(f"{time_tables} *{number} = {time_tables*number}")

Enter TimeTable2
2 *1 = 2
2 *2 = 4
2 *3 = 6
2 *4 = 8
2 *5 = 10
2 *6 = 12
2 *7 = 14
2 *8 = 16
2 *9 = 18
2 *10 = 20